.btn-hide {
    color: #FFF;
    background-color: #6278F7;

    margin: 10px 0 20px 90%;
    padding: 8px;

    cursor: pointer;

    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.btn-hide:active {
    background-color: #6278f79a;
}

.btn-hide:hover {
    color: #95FFD4;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.1);
}
